.header-nav {
    display: flex;
    justify-content: space-between;
    background-color: #030422;
    height: 50px;
}

.header-nav a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
}
/* left header */
.header-nav div:nth-child(1) {
    padding: 14px 50px;
}
/* right header */
.header-nav div:nth-child(2) > a {
    padding: 12px 12px;
    margin: 2px 4px;
}

.admin-button {
    padding: 6px 25px !important;
    border-radius: 5px;
    border: 1px solid white;
}

.login-button {
    display: inline-block;
    padding: 0 !important;
    margin: 0 15px 0 5px !important;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
}

.header-nav .active {
    background-color: white;
    color: #030422;
    font-weight: 600;
}