/* Comments styles */

.comments-div .pagination-nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

.main div h1 {
  margin: auto 0;
  font-weight: 800;
  font-size: 2.3em;
}

.create-comment {
  height: 45px;
  width: 165px;
  border-radius: 10px;
  color: white;
  background-color: #030422;
  font-weight: 600;
  font-size: 1.5em;
  margin: auto 0;
  cursor: pointer;
}

.create-comment:hover {
  opacity: 0.7;
  transition: 1s;
}

.comments p {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.1;
}

.comments div h2 {
  display: inline-block;
  padding: 0;
  margin: 0 2px;
  font-size: 18px;
  font-weight: 800;
}

.comments div address {
  display: inline-block;
  font-weight: 500;
  margin: 5px 15px 0 0;
  font-size: 12px;
}

.main>div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
  min-width: 320px;
  height: 130px;
  margin: auto;
}

.comments-div {
  max-width: 70vw;
  min-width: 320px;
  margin: auto;
}

/*comments div */

.comments-outter-div {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 950px) {
  .comments-outter-div>div:nth-child(6n + 5), .comments-outter-div>div:nth-child(6n + 6) {
    grid-column: 2 span;
  }
  .comments-outter-div {
    grid-template-columns: repeat(4, 1fr);
  }
}

.comments-outter-div>div {
  border-radius: 10px;
  background-color: #f4f9fd;
  -webkit-box-shadow: 3px 3px 5px 6px rgb(207, 207, 207);
  -moz-box-shadow: 3px 3px 5px 6px rgb(207, 207, 207);
  box-shadow: 6px 6px 4px -3px rgb(207, 207, 207);
}

.comments-outter-div>div:hover {
  border: 2px solid rgb(117, 117, 117);
  background-color: #75B3E7;
  transition: 0.5s;
}

.comments-outter-div div div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: hsl(264, 100%, 97%);
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
}

.comments-outter-div>div div:nth-child(2) {
  margin: 15px 12px;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 2px 0px 0px 0px;
}

.pagination li {
  line-height: 0.5;
  margin: 0 0px;
  font-size: 1.3em;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.pagination-nav > label, .pagination > li > label {
 width: 25px;
 height: 25px;
 display: inline-block;
 position: relative;
 border-radius: 100%;
}

.pagination li:nth-child(5) label {
 left: 14%;
}

.pagination li:nth-child(4) label {
  left: 26%;
}

 .pagination input[type="button"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  position: absolute;
  top: 15%;
  right: 34%;
}

/* Erase pagination input default styles */

.pagination-nav>.back input[type="button"], .forward input[type="button"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.9em;
  margin-top:3px;
  position: absolute;
  top: 15%;
  right: 34%;
}

.pagination-nav>.back input[type="button"]:focus,
.forward input[type="button"]:focus,
.pagination input[type="button"]:focus {
  outline: none;
}

/* Set pagination numbers background color */

.pagination-nav .pagination .pagination-background, .pagination-background > input {
  background-color: #61b7f8;
  color: white !important;
}

.pagination-nav > .back > input[type="button"] {
margin: 0px 0px 30px 0px;
}

.pagination-nav .forward>input[type="button"] {
  margin-top: -1px;
}



