h1 {
    margin: auto 0;
    font-weight: 800;
    font-size: 2.3em;
}

.create-comment  {
    height: 45px;
    width: 165px;
    border-radius: 10px;
    color: white;
    background-color: #030422;
    font-weight: 600;
    font-size: 1.5em;
    margin: auto 0;
}

p {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    display: inline-block;
    padding: 0;
    margin: 0 2px;
    font-size: 18px;
    font-weight: 800;
}

address {
    display: inline-block;
    font-weight: 500;
    margin: 5px 15px 0 0;
    font-size: 12px;
}

.main>div:first-child {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    min-width: 320px;
    height: 130px;
    margin: auto;
}

.comments-div {
    max-width: 70vw;
    min-width: 320px;
    margin: auto;
}

/*comments div */

.comments-outter-div {
    display: grid;
    gap: 14px;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 950px) {
    .comments-outter-div>div:nth-child(6n + 5),
    .comments-outter-div>div:nth-child(6n + 6) {
        grid-column: 2 span;
    }
    .comments-outter-div {
        grid-template-columns: repeat(4, 1fr);
    }
}

.comments-outter-div > div {
    border-radius: 10px;
    background-color: #f4f9fd;
    -webkit-box-shadow: 3px 3px 5px 6px rgb(207, 207, 207);
    -moz-box-shadow: 3px 3px 5px 6px rgb(207, 207, 207);
    box-shadow: 6px 6px 4px -3px rgb(207, 207, 207);
}

.comments-outter-div div div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: hsl(264, 100%, 97%);
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
}

.comments-outter-div>div div:nth-child(2) {
    margin: 15px 12px;
}

/* Pagination styles */

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;
}

.pagination li {
  margin: 5px;
  line-height: 0.5;
}

.pagination button[type="button"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1.8em;

}

/* .pagination button[type="button"]:focus {
  background-color: orange;
} */


.pagination button[type="button"]:focus {
  text-decoration: none;
  outline: none !important;
  background-color: #069AF3;

}

